* {
  margin: 0;
  padding: 0;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.span {
  margin: 5px 0px;
  padding: 8px 10px;
  background: #000;
  color: white;
  font-size: large;
  font-weight: bold;
}

#btn {
  margin: 5px 0px;
  padding: 8px 10px;
  font-weight: bold;
}
.rgb {
  margin: 5px 0px;
  padding: 8px 10px;
  background-color: aqua;
  font-size: large;
  font-weight: bold;
}
